* {
  box-sizing: border-box;
}

:root {
  --active: rgba(240, 110, 47, 1);
  --background: #fef6f0;
  --blue: #2477BE;
  --gray: #F4F4F4;
  --hover: hsl(26deg 42% 26%);
  --shadow: 0,0,0;
  --text: hsl(26deg 42% 26%);
  --white: #FFFFFF;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-size: 1.4em;
  line-height: 145%;
  font-weight: normal;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  color: var(--text);
  background: var(--background);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--active);
  text-decoration: none;
  font-weight: 500;
  transition: color 200ms ease-in-out;
}

a:hover {
  cursor: pointer;
  color: var(--hover);
}

em {
  font-style: italic;
}

strong {
  font-weight: 600;
}

ul {
  list-style: none;
  padding: 0;
}

.Header {
  text-align: center;
  margin: 0 0 1.4em 0;
}

.Header > a {
  font-size: 0.8em;
}

h1 {
  font-size: 1.8em;
  margin: 0;
  line-height: 145%;
}

h1 a {
  color: var(--text);
  font-weight: bold;
}

.Content {
  display: flex;
  width: 100%;
  height: 100%;
}

.Posts {
  position: relative;
  flex: 0.6;
  padding:  2em;
  overflow: hidden;
  overflow-y: scroll;
  border-right: 1px solid rgba(0,0,0, 0.1);
}

.Items {
  margin: 0 0 1em;
  margin: auto;
  display: flex;
  gap: 1em;
  flex-direction: column;
}

.Item {
  display: flex;
  gap: 0.4em;
  flex-direction: column;
  background: var(--white);
  border-radius: 4px;
  padding: 1em;
  font-size: 0.8em;
  line-height: 145%;
  cursor: pointer;
  transition: background 160ms ease-in-out;
}

.Item:hover {
  background: rgba(240, 110, 47, 0.1);
}

.Item.is-active {
  background: var(--active);
  color: var(--white);
}

.Item.is-active .Item__service {
  color: var(--white);
}


.Item__content {
  display: flex;
  gap: 0.4em;
  flex-direction: column;
}

.Item__service {
  font-weight: 500;
  font-size: 0.8em;
  color: var(--active);
  user-select: none;
  line-height: 145%;
}

.Item__footer {
  display: flex;
  opacity: 0.5;
}

.Item__footer > div {
  font-size: .8em;
}

.Item__metadata {
  user-select: none;
  line-height: 145%;
}

.Item img {
  width: 100%;
  border-radius: 4px;
}

.Footer {
  font-size: .7em;
  text-align: center;
}

.Pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1em auto;
  user-select: none;
}

.Pagination__arrows {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 0 0 .4em 0;
  user-select: none;
}

.Pagination__pageRound {
  width: 40px;
  height: 40px;
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 .4em;
  color: var(--active);
  background: var(--white);
  border-radius: 50%;
}

.Pagination > a:hover,
.Pagination__arrows > a:hover {
  color: var(--hover);
}

.Pagination > div,
.Pagination > a {
  margin: 0 0.4em;
}

.Pagination__arrows > a,
.Pagination__arrows > span {
  margin: 0 0.2em;
}

span.Pagination__page {
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  color: var(--text);
  opacity: 0.5;
}

a.Pagination__page {
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--active);
  font-weight: 600;
}

.Pagination__page.is-selected {
  color: var(--white);
  background: var(--active);
}

::selection {
  background: rgba(0, 75, 140, .1);
}
::-moz-selection {
  background: rgba(0, 75, 140, .1);
}

.Map__container {
  flex: 1;
  width: 100%;
  height: 100%;
}

.Map {
  width: 100%;
  height: 100%;
}

.leaflet-marker-icon.icon {
  width: 32px;
  height: 32px;
  background: var(--active);
  background-size: 400% 400%;
  border: 5px solid #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  border-radius: 100%;
}

.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
  border: none;
}

.Map .leaflet-control-zoom-in, 
.Map .leaflet-control-zoom-out {
  box-shadow: 0 2px 4px rgba(var(--shadow), .2);
  background: var(--white);
  width: 32px;
  height: 32px;
  color: var(--blue);
  cursor: pointer;
  user-select: none;
  font-size: 1.4em;
  transition: opacity 500ms ease-in-out, background 200ms ease-in-out;
}

.Map .leaflet-control-zoom-in:hover, 
.Map .leaflet-control-zoom-out:hover {
  color: var(--blue);
  background: var(--gray);
}

.Map .leaflet-container a {
  background: var(--blue);
}
.Map .leaflet-bar a:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.Map .leaflet-bar a:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: none;
}

.Spinner {
  --borderWidth: 4px;
  --mainSpinnerColor: var(--active);
  --activeSpinnerColor: var(--white);
  border-top: var(--borderWidth) solid var(--mainSpinnerColor);
  border-right: var(--borderWidth) solid var(--mainSpinnerColor);
  border-bottom: var(--borderWidth) solid var(--mainSpinnerColor);
  border-left: var(--borderWidth) solid var(--activeSpinnerColor);
  animation: load8 0.8s infinite linear;
  opacity: 0;
  visibility: hidden;
  transition: opacity 240ms ease-in-out, visibility 240ms ease-in-out;
  z-index: 10;
}

.Spinner.is-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: -1em 0 0 -1em;
}

.Spinner.is-visible {
  display: block;
  opacity: 1;
  visibility: visible;
}

.Spinner, .Spinner:after {
  --size: 2em;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
}

@keyframes load8 { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }


@media only screen and (max-width: 1200px) {
  .Posts {
    flex: 1;
    padding: 1em;
  }
}

@media only screen and (max-width: 800px) {
  .Content {
    flex-direction: column;
  }

  .Posts {
    flex: 2;
    border-right: none;
    border-bottom: 1px solid rgba(0,0,0, 0.1);
    padding: 0.4em;
    font-size: .9em;
  }
  .Header {
    margin: 0 0 .8em 0;
  }
}

@media only screen and (max-width: 640px) {
  .Header {
    font-size: .8em;
  }

  .Header h1 {
    font-size: 1.2em;
    margin: 0;
  }

  .Content {
    width: 100%;
  }

  .Item__footer {
    flex-direction: column;
  }

  .Item__footer > div {
    margin: 0 0 0 0;
  }
}

